################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NationalLibrary/.vs
/NationalLibrary/NationalLibrary/bin
/NationalLibrary/NationalLibrary/obj