################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NationalLibrary/.vs/NationalLibrary/v15/Server/sqlite3
/NationalLibrary/NationalLibrary/bin
/NationalLibrary/NationalLibrary/obj